
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>E-Arsiv</title>
    <link href="~/Yeni/css/stylesheet.css" rel="stylesheet" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div class="page_margins">
      <h1>E-Arsiv</h1>
      <h2>E-Arsive Hoşgeldiniz</h2>
      <h3>About this</h3>
      <p> </p>
      <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
      <p> Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır. </p>
      <p> Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. </p>
      <p> Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. </p>
      <p> Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. </p>
    </div>
  </div>
  <div id="categories">
    <h4>C<br />
      a<br />
      t<br />
      e<br />
      g<br />
      o<br />
      r<br />
      i<br />
      e<br />
      s </h4>
    <h5>Alphabetical</h5>
    <ul>
      <li><a href="#"><span>A </span>&ndash; C</a></li>
      <li><a href="#"><span>D </span>&ndash; G</a></li>
      <li><a href="#"><span>H </span>&ndash; L</a></li>
      <li><a href="#"><span>M </span>&ndash; Q</a></li>
      <li><a href="#"><span>R </span>&ndash; Z</a></li>
    </ul>
    <h5>by Style</h5>
    <ul>
      <li><a href="#">Serifs</a></li>
      <li><a href="#">Non-Serifs</a></li>
      <li><a href="#">Geometrical</a></li>
      <li><a href="#">Calligraphical</a></li>
      <li><a href="#">Post-Modern</a></li>
    </ul>
  </div>
  <div class="article_head">
    <div class="page_margins">
      <p class="intro"> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen. </p>
      <h3>Der Two-Face der Typografie:</h3>
      <h2><span>J</span>an<br />
        &nbsp;&nbsp;Tschichold</h2>
    </div>
  </div>
  <div class="article">
    <div class="page_margins">
      <div class="col">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
        <blockquote>
          <p>Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet.</p>
        </blockquote>
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im <abbr title="Evangelischer Arbeitskreis">EVA</abbr>, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis, die in <a href="#">diesen Jahrzehnten</a> - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
      </div>
      <div class="col">
          <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
      </div>
      <div class="two_col">
          <div class="img">
              <img src="~/Yeni/img/quad_2.jpg" />g" alt=""/>
          </div>
        <div class="col">
          <div class="img"> <img src="Yeni/img/quad_1.jpg" alt=""/> </div>
          <div class="w50">
            <p> Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet, er hat immer wieder darauf hingewiesen, dass es wichtig ist. </p>
          </div>
          <div class="w50">
            <p> Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet, er hat immer wieder darauf hingewiesen, dass es wichtig ist. </p>
          </div>
        </div>
        <div class="col">
          <div class="extra">
            <h3>Seine Schrift<br />
              &raquo;<em>Sabon</em>&laquo;</h3>
            <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis, die in <a href="#">diesen Jahrzehnten</a> - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
          </div>
        </div>
      </div>
    </div>
    <p class="article_info">Author: Nikolaj Sokolowski | 23. August 2009</p>
  </div>
  <div class="article_head">
    <div class="page_margins">
      <p class="intro" > Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen. </p>
      <h3>Der Two-Face der Typografie:</h3>
      <h2><span>Pa</span>ul<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Renner</h2>
    </div>
  </div>
  <div class="article">
    <div class="page_margins">
      <div class="two_col">
        <div class="img"> <img src="Yeni/img/quad_2_renner.jpg" alt=""/> </div>
        <div class="w50">
          <p> Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei und vor allem einen wichtigen Dienst geleistet, er hat immer wieder darauf hingewiesen, dass es wichtig ist. </p>
        </div>
        <div class="w50">
          <p> Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet, er hat immer wieder darauf hingewiesen, dass es wichtig ist. </p>
        </div>
        <div class="w50">
          <p> Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet, er hat immer wieder darauf hingewiesen. </p>
        </div>
        <div class="col"> </div>
      </div>
      <div class="col">
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
        <blockquote>
          <p>Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis hat in schwierigen Zeiten unserer Partei vor allem einen wichtigen Dienst geleistet.</p>
        </blockquote>
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
      </div>
      <div class="col" >
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers. </p>
        <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im Evangelischen Arbeitskreis, die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
        <div class="extra">
          <h3>Seine Schrift<br />
            &raquo;<em>Futura</em>&laquo;</h3>
          <p> Das erste, was ich sagen möchte, ist ein herzliches Wort des Dankes an meine Freunde im , die in diesen Jahrzehnten - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis, die in <a href="#">diesen Jahrzehnten</a> - in diesem Jahr begehen wir noch ein wichtiges Erinnerungsdatum an Hermann Ehlers - eine grossartige Arbeit für unsere Sache geleistet haben. Der Evangelische Arbeitskreis. </p>
        </div>
      </div>
    </div>
    <p class="article_info">&copy; Copyright 2009 <a href="#">Name Here</a>. All Rights Reserved | Design by <a href="http://www.sokolowski-design.de/">Nikolaj Sokolowski</a></p>
  </div>
</div>
</body>
</html>
